.my-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
  
.my-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}